* {
    margin: 0;
    padding: 0;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}



h1 {
    font-size: 128px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 64px;
}

p {
    font-weight: 400;
}

svg {
    vertical-align: bottom;
}


nav {
    display: flex;
    width: 850px;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 20px;

}

nav a{
    color: #3a4b9e;
}

nav img {
    width: 58px;
    height: 60px;
}

header {
    background-color: #e9ecf3;
}



#intro {
    background-color: #e9ecf3;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 931px;
    height: 353px;
    display: flex;
    text-align: center;  
}

.header img {
    width: 343px;
}

.title {
    display: inline-block;
}

/*スカッシュとは？？*/
#about {
    height: 100vh;
    background-color: #ffffff;
}

#about h3 {
    color: #3a4b9e;
}
.content {
    width: 606px;
    margin: 0 auto;
}

.content p {
    line-height: 50px;
}

/*アピールポイント*/
#point {
    background-color: #F4E3E3;
}
#point h3 {
    color: #e8534d;
    text-align: center;
}

.box {
    display: flex;
    width: 970px;
    height: 508px;
    margin: 0 auto;
}

.point-title img {
    width: 100px;
}

.box h2 {
    color: #e8534d;
}

.clearfix {
    clear: both;
}

.point-title {
    display: flex;
}

.image img {
    width: 410px;
    height: 410px;
    border-radius: 50%;
}


/*基本情報*/
#data {
    text-align: center;
    background-color: #ffffff;
}

#data h3 {
    color: #3a4b9e;
}

.data-contents {
    display: inline-block;
    background-color: #E9ECF3;
    padding: 50px;
    border-radius: 20px;

}

.data-content {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    vertical-align: middle;
}

.data-content img {
    width: 98px;
    border-radius: 50%;
    background-color: #fff;
}

.data-content h2, h3 {
    color: #3a4b9e;
}




/*新入生歓迎会情報*/

#welcome {
    background-color: #F4F0DE;
    text-align: center;}

#welcome h2, h3 {
    color: #EBC81E;

}

#welcome img {
    width: 259px;
    border-radius: 50%;
}

.welcome-all {
    display: inline-block;
}

.welcome-contents {
    display: flex;
}

.welcome-content {
    width: 444px;
    padding: 40px;
}

.welcome-content p {
    text-align: left;
}

/*フッター*/
footer {
    text-align: center;
}