* {
    margin: 0;
    padding: 0;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}




h1 {
    font-size: 128px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 64px;
}

p {
    font-weight: 400;
}

svg {
    vertical-align: bottom;
}

.circle1 {
    display: inline-block;
    border-radius: 50%;
    background: #e9ecf3;
    position: absolute;
    z-index: 1;
}

.circle2 {
    border-radius: 50%;
    background: #e8534d;
    position: absolute;
    z-index: 2;
}

.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s;
}

.blink {
	animation: blinking 0.7s ease-in-out infinite alternate;
}
 
@keyframes blinking {
	0% {opacity: 0.3;}
	100% {opacity: 1;}
}

.circle3 {
    display: inline-block;
    border-radius: 50%;
    background: #3a4b9e;
    position: absolute;
    z-index: 2;
}

.circle4 {
    display: inline-block;
    border-radius: 50%;
    background: #EBC81E;
    position: absolute;
    z-index: 2;

}


nav {
    display: flex;
    width: 850px;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 20px;

}

nav a{
    color: #3a4b9e;
}

nav img {
    width: 58px;
    height: 60px;
}

header {
    background-color: #e9ecf3;
}



#intro {
    background-color: #e9ecf3;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: auto;
    height: 353px;
    display: flex;
    text-align: center;  
}

.header img {
    width: 343px;
    position: relative;
    z-index: 2;
}

.title {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.instagram {
    width: 250px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.top {
    display: flex;
}

/*スカッシュとは？？*/
#about {
    background-color: #ffffff;
}

#about h3 {
    color: #3a4b9e;
    text-align: center;
}
.content {
    width: 606px;
    margin: 0 auto;
}

.content p {
    line-height: 50px;
    position: relative;
    z-index: 1;
}

/*アピールポイント*/
#point {
    background-color: #F4E3E3;
}
#point h3 {
    color: #e8534d;
    text-align: center;
}

.box {
    display: flex;
    width: 1000px;
    height: 508px;
    margin: 0 auto;
    align-items: center;
}

.num {
    width: 100px;
}

.box h2 {
    color: #e8534d;
    padding: 20px;
}

.box p {
    padding: 50px;
    position: relative;
    z-index: 3;
}

.clearfix {
    clear: both;
}

.point-title {
    display: flex;
    align-items: center;

}

.image img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: relative;
    z-index: 3;
}

.add {
    width: 40px;
    position: relative;
    top: -30px;
    left: -20px;
}

.sp {
    display: none;
}

/*基本情報*/
#data {
    text-align: center;
    background-color: #ffffff;
}

#data h3 {
    color: #3a4b9e;
}

.data-contents {
    display: inline-block;
    background-color: #E9ECF3;
    padding: 30px;
    border-radius: 20px;

}

.data-content {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.data-content img {
    width: 98px;
    border-radius: 50%;
    background-color: #fff;
}

.data-content h2, h3 {
    color: #3a4b9e;
}

.data-content h2 {
    padding: 30px;
}

.min-title {
    display: flex;
}



/*新入生歓迎会情報*/

#welcome {
    background-color: #F4F0DE;
    text-align: center;}

#welcome h2, h3 {
    color: #EBC81E;

}

#welcome img {
    width: 259px;
    border-radius: 50%;
}

.welcome-all {
    display: inline-block;
}

.welcome-contents {
    display: flex;
}

.welcome-content {
    width: 444px;
    padding: 40px;
}

.welcome-content p {
    text-align: left;
}

/*フッター*/
footer {
    text-align: center;
}

@media all and (max-width: 480px) {
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 32px;
    }
    
    p {
        font-size: 12px;
    }
    
    .circle1 {
        opacity: 0;
    }
    
    .circle2 {
        opacity: 0;

    }

    

    
    .circle3 {
        opacity: 0;
    }
    
    .circle4 {
        opacity: 0;

    }
    
    
    nav {
        display: none;
    }
    
    

    
    #intro {
        display: block;
    }
    
    .header {
        width: auto;
        height: 353px;
        display: block;
        text-align: center;  
    }
    
    .header img {
        width: 150px;
        position: relative;
        z-index: 2;
    }
    
    .title {
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    
    .instagram {
        width: 100px;
    }
    

    /*スカッシュとは？？*/
    .content {
        width: 80vw;
    }
    
    /*アピールポイント*/
    .box {
        display: block;;
        width: auto;
        height: auto;
        padding: 20px;
    }
    
    .num {
        width: 45px;
    }
    
    .image img {
        width: 250px;
        height: 250px;
        text-align: center;
    }
    
    .add {
        width: 18px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }
    
    /*基本情報*/
    .data-content img {
        width: 40px;
        height: 40px;
    }

    .min-title {
        display: flex;
        align-items: center;
    }

    .data-contents {
        width: 60vw;
    }
    
    .data-content {
        display: block;
    }
    
    
    /*新入生歓迎会情報*/
    
    #welcome {
        background-color: #F4F0DE;
        text-align: center;}
    
    #welcome h2, h3 {
        color: #EBC81E;
    
    }
    
    #welcome img {
        width: 157px;
    }
    
    
    .welcome-contents {
        display: inline-block;
    }
    
    .welcome-content {
        width: auto;
        padding: 40px;
    }

}